body {
    font-family: sans-serif;
    font-size: 24px;
    background-color: black;
    color: #FFFFFF;
  }

h1 {
    text-align: center;
    color: #FFFFFF;
    
}

.main_span {
    color: #03e9f4;
} 

main {
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
}

.main_button {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 370px;
    margin-top: 20px;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 24px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
}

.main_button:hover {
    background: #03e9f4;
    color: #fff;
    border: 1px solid #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 10px #03e9f4,
                0 0 30px #03e9f4,
                0 0 40px #03e9f4;
  }

.main_string {
    position: absolute;
    top: 165px;
    left: 195px;
    font-size: 28px;
    color: #fff;
    text-align: center;
}

input {
    display: block;
    margin: 20px auto;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
    width: 600px;
}

input:hover {border-bottom: 1px solid #03e9f4;}

.table {
    position: relative;
    min-height: 323px;
    text-align: center;
}

.table__text {
    color: #03e9f4;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    margin-left: 50px;
    width: 1024px;
}

.table__text p {
    display: inline-block;
    padding: 20px 0
}

.table__text_first{
    margin-left: 5px;
}

.table__text_second {
    margin-left: 2px;
    width: 600px;
}

.table__text_third {
    color: #fff;
    margin: 0 20px 0 5px;
    width: 90px;
    text-align: center;
}

.button-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 24px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.update {
    text-decoration: none;
    color: #FF00FF;
    width: 80px;
    background-color: transparent;
}

.update:hover {
    background: #FF00FF;
    color: #fff;
    border: 1px solid #FF00FF;
    border-radius: 5px;
    box-shadow: 0 0 5px #FF00FF,
                0 0 10px #FF00FF,
                0 0 30px #FF00FF,
                0 0 40px #FF00FF;
  }

.delete {
    text-decoration: none;
    color: #FF3333;
    width: 80px;
    background-color: transparent;
}

.delete:hover {
    background: #FF3333;
    color: #fff;
    border: 1px solid #FF3333;
    border-radius: 5px;
    box-shadow: 0 0 5px #FF3333,
                0 0 10px #FF3333,
                0 0 30px #FF3333,
                0 0 40px #FF3333;
  }

.horizon {
	border-bottom: 1px solid #fff;
	width: auto;
	margin: 0 auto;
	margin-bottom: 5px;
	margin-top: 5px;
}

.link {
    position: relative;
    left: 85%;
    width: 400px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.link:hover {
    color: #03e9f4;
}


nav {
    border-bottom: 1px solid #fff;
	width: auto;
	margin: 0 auto;
}

.remember {
    position: relative;
}

#remember_me {
    width: 60px;
    display: inline-block;

}

.nav_ul {
    margin-bottom: 5px;
    height: 24px;
}

.register {
    margin-bottom: 60px;
}
