{% extends "base.html" %}

{% block content %}
        <h1>To Do <span class="main_span">List</span></h1>
        <form action="/add" method="post">
            <label class="main_string">Enter the task:</label>
            <input type="text" name="name">
            <button type="submit" class="main_button">Add task</button>
        </form>
        <div class="table">
            {%for todo in todo_list %}
                <div class="table__text">
                    <p class="table__text_first">{{ todo.id }}.</p>
                    <p class="table__text_second">{{ todo.name }}</p>
                    {% if todo.done==False %}
                        <p class="table__text_third">- Not Done</p>
                    {% else %}
                        <p class="table__text_third">- Done</p>
                    {% endif %}
                <a href="/update/{{todo.id}}" class="button-link update">Update</a>
                <a href="/delete/{{todo.id}}" class="button-link delete">Delete</a>
                </div>
            {%endfor%}
        </div>
{% endblock %}